<div class="row content-page">
    
    <article>
        
        <h2 class="content-title"><a href="<%- url_for(page.path) %>"><%= page.title %></a></h2>
        
        <div class="content">
            
            <%- page.content %>
            
        </div>
        
    </article>
    
</div>