.site-footer
    padding: block-60 0
    border-top: border-default

    p
        font-size: font-small

    a
        color: color-grey
    
    .cr
        letter-spacing: 1px

    .theme
        color: color-grey