.nav-cat
    padding: block-20 0
    text-transform: uppercase
    letter-spacing: 2px
    font-size: font-small
    border-bottom: border-default
    line-height: 2

    a 
        color: color-default
        margin-right: block-10

    a:hover
        color: color-link

    .category-list-child
        display: none
        

.nav-page
	padding: 30px 0
	border-bottom: border-default
	text-transform: uppercase
	font-size: font-small
	letter-spacing: 2px

	ul
		float: right
	
	li
		margin-left: block-10

	li:first-child
		margin-left: 0

	a
		color: color-default

	a:hover
		color: color-link

.site-header-main
	height: 160px
	background: #f5f5f5
	border-bottom: border-default

	h1
		float: left
		margin-right: block-20
		line-height: 160px
		text-transform: uppercase
		letter-spacing: 2px
	p
		line-height: 160px
		letter-spacing: 1px